<!DOCTYPE html>
<html lang="en">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title>VHSYS Sistema Online de Gestão Empresarial</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<style>
		body {
			background: #fff;
			font-family: 'Roboto', 'Arial', sans-serif;
			font-size: 14px;
			margin: 0;
			color: #767676;
		}

		p, h2, td {
			font-family: 'Roboto', 'Arial', sans-serif;
		}
	</style>

</head>
<body>
	<table width="595" cellpadding="0" cellspacing="0" align="center" style="padding: 30px 0 10px;">
		<tr>
			<td width="140">
				<a href="https://vhsys.com.br/" target="_blank" style="text-decoration: none;">
					<img src="http://static.vhsys.com/emails/images/logo.png" alt="VHSYS">
				</a>
			</td>
			<td style="color: #989ba2;font-size: 12px;padding-top: 5px;font-weight: 500;">
				Sistema Online de Gestão Empresarial
			</td>
		</tr>
	</table>
	<table width="595" cellpadding="0" cellspacing="0" align="center" style="border: 1px solid #d5dbdd;box-shadow: 0px 0px 2px 2px #ebebeb;">
		<tbody>
			<tr id="header" background="http://static.vhsys.com/emails/images/header-bg.jpg">
				<td colspan="2" style="padding: 55px 0px 20px 30px;color: #3e4a6a;font-size: 26px;font-weight: 500;">
					Solicitação de Contato
				</td>
			</tr>
			<tr>
				<td style="color: #686c78;padding: 35px 35px 0;line-height: 1.7;text-align: justify;font-size: 15px;">
					Oi {{nome}}, <br><br>
					Recebemos os seus dados e agradecemos seu interesse!<br>
					Em breve entraremos em contato através do numero registrado: {{fone}}<br><br>
				</td>
			</tr>
			<tr>
				<td style="color: #686c78;padding: 0 0 50px 35px;">
					Equipe VHSYS
				</td>
			</tr>
		</tbody>
	</table>
	<table width="595" cellpadding="0" cellspacing="0" align="center">
		<tbody>
			<tr>
				<td height="20"></td>
			</tr>
			<tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="595">
						<tbody>
							<tr align="center">
								<td>
									<a href="https://www.vhsys.com.br" target="_blank" style="color:#686c78; font-weight:500; font-size: 12px; font-family: Arial; text-align: left;text-decoration: none;">
										<img src="http://static.vhsys.com/emails/images/logo-gray-small.png" alt="VHSYS" style="vertical-align: middle;margin-right: 5px;">
										www.vhsys.com.br
									</a>
								</td>
								<td style="color: #e3e5e9;padding: 0 15px 0 5px;">|</td>
								<td style="color:#686c78; font-weight:500; font-size: 12px; font-family: Arial; text-align: left;">
									<b>Atendimento</b>: 0800 007 0017  /  4007 2710
								</td>
								<td align="right" style="color:#686c78;font-weight:300;">
									<a href="https://facebook.com/VHSYS/" target="_blank" style="text-decoration: none;">
										<img src="http://static.vhsys.com/emails/images/icon-facebook.png" alt="Facebook VHSYS" style="margin-left:5px; margin-right:5px;">
									</a>
									<a href="https://plus.google.com/+VHSYSBr" target="_blank" style="text-decoration: none;">
										<img src="http://static.vhsys.com/emails/images/icon-gplus.png" alt="Google Plus" style="margin-left:5px; margin-right:5px;">
									</a>
									<a href="http://twitter.com/VHSYS/" target="_blank" style="text-decoration: none;">
										<img src="http://static.vhsys.com/emails/images/icon-twitter.png" alt="Twitter VHSYS" style="margin-left:5px; margin-right:5px;">
									</a>
									<a href="http://youtube.com/VHSYS/" target="_blank" style="text-decoration: none;">
										<img src="http://static.vhsys.com/emails/images/icon-youtube.png" alt="YouTube VHSYS" style="margin-left:5px; margin-right:5px;">
									</a>
									<a href="https://www.linkedin.com/company/vhsys/" target="_blank" style="text-decoration: none;">
										<img src="http://static.vhsys.com/emails/images/icon-linkedin.png" alt="LinkedIn VHSYS" style="margin-left:5px; margin-right:5px;">
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td height="30"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>